nav, li, header, section, article, footer, aside, div, img{
	border: 1px solid black;
	border-radius: 20px;
	margin: 1%;
	padding: 0;
	list-style-type: none;
	font-size: 18px;
	display: inline-flex;
	text-align: center;
}
 .wrapper{
 	border: none;
 	flex-direction: column;
 	width: 75%;
 }
 .inner-wrapper{
 	border: none;
 	flex-direction: row;
 	width: 100%;
 }
nav {
	align-items: center;
	flex-direction: column;
	height: 900px;
	width: 15%;
}
li{
	align-items: center;
	justify-content: center;
	height: 5%;
	width: 100%;
	margin: 1% auto;
}
ol{
	align-items: center;
	justify-content: center;
	padding: 0;
	height: 100%;

}
ul {
	padding: 0;
	align-items: center;
	margin: 1% auto;
	flex-direction: column;
	height:20%;
	width: 80%;
}
.ul{
	justify-content: initial;
	display: inline-flex;
	flex-direction: column;
	height: 20%;
}
ul>li{
	height: 100%;
	width:100%;
}
header{
	justify-content: center;
	height: 100px;
	width: 100%;
}
section{
	margin: 0;
	flex-direction: column;
	border: 1px dashed black;
	height:770px;
	width: 70%;
}
aside{
	justify-content: center;
	height: 770px;
	width: 30%;
	margin: 0 0 0 1%;
}
.image{
	flex-flow: row wrap;
	width: 98%;
	height: 300px;
}
img{
	align-items: center;
	justify-content: center;
	width: 14%;
	height: 34%;
}
article{
	justify-content: center;
	width: 50%;
	height: 250px;
}
.article-wrapper{
	border: none;
 	flex-direction: row;
 	width: 99%;
}
footer{
	justify-content: center;
	width: 98%;
	height: 120px;
}
