@font-face{
	font-family: 'fugue_regular';
	src: url(../fonts/fugue_regular.woff) format("woff");
}
@font-face{
	font-family: 'font-cache';
	src: url(../fonts/font-cache.woff) format("woff");
}
@font-face{
	font-family: 'bold';
	src: url(../fonts/bold.woff2) format("woff2");
}
@font-face{
	font-family: 'thin';
	src: url(../fonts/thin.woff2) format("woff2");
}
body{
	margin: 0;
	width: 100%;
}
header{
	width: 100%;
	height: 230px;
	background: linear-gradient(to right, rgb(207,179,173) , rgb(161,231,239));
}
.header_text{
	height: 40px;
	width: 220px;
	position: absolute;
    right: 100px;
    top: 120px;
}
.logo{
	position: absolute;
	height: 280px;
	width: 280px;
	left: 50px;
	top: 60px;
}
nav{
	background-color: white;
	width: 100%;
	height:30px;
	padding: 30px 0;
}
.nav{
	font-family: 'thin';
	text-decoration: none;
	color: black;
	font-size: 18px;
    margin-right: 60px;
	float: right;
	display: inline-block;
}
section, footer{
	padding: 5%;
	width: 90%;
}
footer{
	background: linear-gradient(to right, rgb(207,179,173) , rgb(161,231,239));
}
h1{
	font-family: 'font-cache';
	font-size: 60px;
}
.text-right{
	font-family: 'thin';
	font-size: 18px;
	padding-left: 55%;	
}
.text-left{
	font-family: 'fugue_regular';
    font-size: 48px;
    font-weight: 400;
	padding-right: 33%;
}
.p-move{
	margin-left: 70px;	
}
.arrow{
	position: absolute;
	height: 78px;
	width: 70px;
}
.images{
	width: 100%;
}
.images img:first-child{
	width: 50%;
	transform: translate(80%, -15%);
	position: relative;
	z-index: -1;
}
.images img:last-child{
	width: 40%;
	transform: translate(-90%, -140%);
}
.images2{
	margin-top: 10%;
	width: 100%;
}
.images2 img:first-child{
	width: 40%;
}
.images2 img:last-child{
	width: 30%;
	transform: translate(90%, -80%);
}
.columns{
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.columns>div>h3{
	font-family: 'font-cache';
	font-size: 40px;
    font-weight: 400;
}
.columns>div>p{
	font-family: 'thin';
    font-size: 18px;
}
.arrow-down{
	transform: rotate(90deg);
	height: 24px;
	width: 35px;
}
.images3{
	margin: 5% 0;
	width: 100%;
}
.images3 img:first-child{
	width: 60%;

}
.images3 img:last-child{
	width: 25%;
	transform: translate(10%,-20%);
}
.images4{
	width: 100%;
}
.images4 img:first-child{
	width: 40%;
	transform: translate(70%,-15%);
	position: relative;
	z-index: -1;
}
.images4 img:last-child{
	width: 25%;
	transform: translate(80%,-200%);
}
.more{
	font-size: 18px;
	color: black;
	font-family: 'bold';
}
h2{
	margin:10% 0;
	font-family:'fugue_regular';
    font-size: 48px;
    font-weight: 400;
    color: white;
}
.people{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.people>div{
	margin-top: 5%;
	width: 29%;
}
.people>div>img{
	width: 100%;
}
.people>div>h4{
	font-family: 'bold';
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin: 5% 0 0;
}
.people>div>p{
	color: white;
	font-family: 'thin';
    font-size: 18px;
    margin:0;
}
.logos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.logos>img{
	margin: 10% 5%;
	width: 20%;
	height: 20%;
}
.nav-footer{
	margin-top: 10%;
	border-top: 3px solid white;
	border-bottom: 1px solid white;
	height: 150px;
	padding: 5% 0;
}
.more-footer{
	font-size: 18px;
	color: white;
	font-family: 'bold';
}
.nav-footer>a{
	padding-top: 110px;
	color: white;
}
.footer-title{
	float: left;
	font-family: 'bold';
    font-size: 18px;
    text-decoration: none;
}
.contacts{
	padding: 5% 0 5%;
	display: flex;
	justify-content: space-between;
}
.contacts>div>a{
	font-family: 'fugue_regular';
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
a>img{
	margin-right: 15px;
	height: 25px;
	width: 25px;	
}
.contacts>div:last-child{
	margin-right: 60px;
}
.rights{
	color: white;
	font-family: 'thin';
    font-size: 18px;
}
.center{
	text-align: center;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}